---
import BlogPost from "../components/BlogPost.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"

type Word = string | number

const allPost = await Astro.glob("../pages/posts/*.md")

const owner: Word = "Deejay's"
const pageTitle = owner + " Blog ✍️ "
---

<BaseLayout pageTitle={pageTitle}>
	<div class="my-12 flex place-content-center">
		<ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
			{
				allPost.map((post) => (
					<BlogPost
						url={post.url}
						title={post.frontmatter.title}
						cover={post.frontmatter.cover}
						tags={post.frontmatter.tags}
						pubDate={post.frontmatter.pubDate}
					/>
				))
			}
		</ul>
	</div>
</BaseLayout>

<style></style>
