---
// ℹ️ This file is post layout ONLY
import BaseLayout from "./BaseLayout.astro"
import Text from "../components/Ui/Text.astro"
import TagBadge from "../components/TagBadge.astro"
import Heading from "../components/Ui/Heading.astro"
const { frontmatter } = Astro.props
---

<!-- We are using the BaseLayout to add the same style to the post page with a diffrent template -->
<BaseLayout pageTitle={frontmatter.title}>
	<div class="my-12 2xl:px-80">
		<div class="flex flex-col items-center space-y-5">
			<img
				src={frontmatter.cover}
				alt={frontmatter.image.alt}
				class="rounded-lg"
			/>
			<TagBadge tags={frontmatter.tags} />
		</div>
		<div class="my-12 space-y-5">
			<Text
				content={frontmatter.description}
				moClass={"italic text-base text-center"}
			/>
			<div class="">
				<Heading content="Table of Contents" moClass={"text-xl"} />
				{
					frontmatter.sections && (
						<ul>
							{frontmatter.sections.map((section, idx) => (
								<li class="my-3">
									{++idx}:
									<a
										href={`#${section.replace(/\s/g, "-")}`}
										class="text-lg text-emerald-500 hover:text-emerald-600"
									>
										{section}
									</a>
								</li>
							))}
						</ul>
					)
				}
			</div>
		</div>
		<div class="post-container space-y-5">
			<slot />
		</div>
	</div>
</BaseLayout>

<style>
	a {
		color: #00539f;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: 0.5em;
		padding: 0.5em 1em;
		font-size: 1.15em;
		background-color: #f8fcfd;
	}
</style>
